/* src/fonts.css */
@font-face {
    font-family: 'ExtraLight';
    src: url('../components/fonts/Spectral-ExtraLight.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
  }

@font-face {
  font-family: 'Light Italic';
  src: url('../components/fonts/Spectral-LightItalic.ttf') format('truetype');
  /* font-weight: normal;
  font-style: italic; */
}

@font-face {
  font-family: 'Pixel';
  src: url('../components/fonts/ArgentPixelCF-Italic.woff2') format('woff2');
  font-style: italic;
}


@font-face {
  font-family: 'InLI';
  src: url('../components/fonts/InferiLightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'InUL';
  src: url('../components/fonts/InferiUltraLight.otf') format('opentype');
}

@font-face {
  font-family: 'InL';
  src: url('../components/fonts/InferiLight.otf') format('opentype');
}

@font-face {
  font-family: 'IS';
  src: url('../components/fonts/IS.ttf') format('truetype');
}

@font-face {
  font-family: 'thabit';
  src: url('../components/fonts/Thabit.ttf') format('truetype');
}

@font-face {
  font-family: 'thabitbold';
  src: url('../components/fonts/Thabit-Bold.ttf') format('truetype');
}
