
/* box styles */
.logo-box-img {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.green-box {
    color: var(--text);
    width: 100px;
    height: 100px;
    background-color: var(--accent);
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.green-box:hover {
    color: var(--text);
    transform: rotate(-10deg);
}

.logo {
    font-size: 20px;
    transform: rotate(-20deg);
}

.empty-box {
    color: var(--accent);
    background-color: var(--background);
    border: 2px solid var(--accent);
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card component/styling */
/* different angles to tilt components differently */
.tilt-a {
    transform: rotate(-20deg);
}
.tilt-b {
    transform: rotate(-10deg);
}
.tilt-c {
    transform: rotate(10deg);
}
.tilt-d {
    transform: rotate(20deg);
}

.card-text {
    text-align: center;
    max-width: 500px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    padding: 40px;
    z-index: 999;
}

/* Index styling */
.nav-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px 30px;
    padding: 30px 0;
}
.grid-item {
    font-size: 18px;
}

.summary {
    padding-right: 50px;
    max-width: 400px;
}

/* Timeline component */
.timeline {
    display: grid;
    padding: 50px;
    align-items: top;
}

.timeline-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    grid-area: 1 / 1;
}

.timeline-line {
    width: 100%;
    height: 10px;
    background-color: var(--accent);
    grid-area: 1 / 1;
    margin-top: 90px;
}

/* Contact component */
#contact a {
    padding: 12px;
    color: var(--accent);
}

#contact a:hover {
    transform: rotate(20deg);
}

/* Resources component */
.poster {
    width: 100%;
}

.poster-row {
    width: 50%;
    padding: 24px;
}

.posters {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 688px) {
    /* box styling */
    .green-box {
        color: var(--text);
        width: 85px;
        height: 85px;
        background-color: var(--accent);
        text-align: center;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    a.green-box:hover {
        color: var(--text);
        transform: rotate(-10deg);
    }
    
    .logo {
        font-size: 16px;
        transform: rotate(-20deg);
    }
    
    .empty-box {
        color: var(--accent);
        font-size: 14px;
        background-color: var(--background);
        border: 2px solid var(--accent);
        width: 85px;
        height: 85px;
        text-align: center;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-item {
        font-size: 14px;
    }

    /* Card component */
    .card-container {
        padding: 20px;
    }
    
    /* Timeline component */
    .timeline {
        display: grid;
        padding: 25px;
    }

    .timeline-items {
        display: block;
    }

    .timeline-line {
        grid-area: 1 / 1 / 4 / 1;
        width: 10px;
        height: 100%;
        margin: auto;
        background-color: var(--light);
    }

    /* Resources component */
    .poster {
        width: 100%;
    }

    .poster-row {
        width: 100%;
        padding: 15px 0;
    }

}