@import url('https://use.typekit.net/yop4tcm.css');

@font-face {
    font-family: "swear-display-cilati", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.top-img-picture {
    background-color: red;
    transition: background-color 2s ease;
}

.top-img-container {
    background-color: red;
    transition: background-color 2s ease;
}

.slider-banner-container {
    /*height: 100% !important;*/
}

.cover-photo {
    width: 70%;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -430px;
}

.navbar.navbar-default {
    border: none;
}

.nav-link {
    cursor: pointer;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.subtitle-larger {
    font-size: 20px;
}

.org-box {
    /*min-height: 477px;*/
}

.org-title {
    min-height: 66px;
}

.logo-box-img {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.org-para {
    min-height: 154px;
}
