@import url("https://use.typekit.net/mpn6abq.css");

:root {
    --background: #F1F3F2;
    --text: #FFFFFF;
    --accent: #65B686;
    --hover: rgb(64,132,92);
    padding: 50px;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
}

* {
    font-family: 'Alegreya', serif;
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

.spacer {
    padding: 25px;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px
}

.event-item {
    font-size: 18px;
    box-shadow: -5px 0 var(--yellow);
    position: relative;
    padding-bottom: 48px;
    margin-left: 16px;
    color: white;
}

.event-time {
    text-transform: uppercase;
    font-weight: 800;
    color: var(--yellow);
}

.event-ball {
    position: absolute;
    left: -14px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 4px solid var(--yellow);
    background-color: var(--brown);
}

.event-name {
}

.event-speaker {
    font-size: 14px;
    color: white;
}

.event-location {
}

h1 {
    padding-bottom: 12px;
    text-align: center;
    font-weight: 800;
}

h3 {
    color: var(--accent);
    font-size: 24px;
}

h4, .large {
    color: var(--accent);
    font-size: 20px;
}

p, .medium {
    max-width: 600px;
    color: var(--accent);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gallery {
    background-color: var(--brown);
    color: var(--yellow);
}

#prizes {
    background-color: var(--red);
    color: var(--yellow);
}

#apply {
    background-color: var(--yellow);
    color: var(--darkblue);
}

#logistics {
    background-color: var(--brown);
    color: var(--yellow);
}

#contact {
    display: flex;
    flex-direction: row;
}

.button {
    padding: 8px;
    border: 3px solid var(--darkblue);
    color: var(--darkblue);
    margin-bottom: 12px;
    font-weight: 800;
}

.button:hover {
    background-color: var(--darkblue);
    color: var(--yellow);
}

.hero-button {
    padding: 8px;
    border: 3px solid var(--yellow);
    color: var(--yellow);
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 32px;
}

.hero-button:hover {
    background-color: var(--yellow);
    color: var(--darkblue);
}

.gallery-button {
    padding: 8px;
    border: 3px solid var(--yellow);
    color: var(--yellow);
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 32px;
}

.gallery-button:hover {
    background-color: var(--yellow);
    color: var(--brown);
}

a:hover {
    text-decoration: none;
}


.poster {
    width: 100%;
}

h2 {
    color: var(--yellow);
}

#contact a {
    padding: 12px;
    color: var(--accent);
}

#contact a:hover {
    color: var(--hover);
}

#spinner {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 40000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 40000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 40000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.poster-row {
    width: 50%;
    padding: 24px;
}

.posters {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

