:root {
    --blue: rgba(61, 203, 243, 1);
    --body-font-family: "Switzer", Helvetica;
    --body-font-size: 16px;
    --body-font-style: normal;
    --body-font-weight: 300;
    --body-letter-spacing: 0px;
    --body-line-height: 24px;
    --button-label-font-family: "Switzer", Helvetica;
    --button-label-font-size: 16px;
    --button-label-font-style: normal;
    --button-label-font-weight: 500;
    --button-label-letter-spacing: 0px;
    --button-label-line-height: normal;
    --drop-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
    --green: rgba(192, 246, 112, 1);
    --heading-font-family: "iA Writer Duospace", Helvetica;
    --heading-font-size: 24px;
    --heading-font-style: normal;
    --heading-font-weight: 400;
    --heading-letter-spacing: 0px;
    --heading-line-height: normal;
    --neutralblack: rgba(0, 0, 0, 1);
    --neutralgray: rgba(217, 217, 217, 1);
    --neutraloff-white: rgba(250, 248, 246, 1);
    --orange: rgba(250, 117, 50, 1);
    --pink: rgba(249, 135, 161, 1);
    --socials-body-font-family: "Switzer", Helvetica;
    --socials-body-font-size: 48px;
    --socials-body-font-style: normal;
    --socials-body-font-weight: 300;
    --socials-body-letter-spacing: 0px;
    --socials-body-line-height: normal;
    --socials-body-small-font-family: "Switzer", Helvetica;
    --socials-body-small-font-size: 40px;
    --socials-body-small-font-style: normal;
    --socials-body-small-font-weight: 300;
    --socials-body-small-letter-spacing: 0px;
    --socials-body-small-line-height: normal;
    --socials-button-font-family: "Switzer", Helvetica;
    --socials-button-font-size: 32px;
    --socials-button-font-style: normal;
    --socials-button-font-weight: 500;
    --socials-button-letter-spacing: 0px;
    --socials-button-line-height: normal;
    --socials-heading-font-family: "Cy", Helvetica;
    --socials-heading-font-size: 100px;
    --socials-heading-font-style: normal;
    --socials-heading-font-weight: 400;
    --socials-heading-letter-spacing: 0px;
    --socials-heading-line-height: normal;
    --socials-note-font-family: "iA Writer Duospace", Helvetica;
    --socials-note-font-size: 36px;
    --socials-note-font-style: normal;
    --socials-note-font-weight: 400;
    --socials-note-letter-spacing: 0px;
    --socials-note-line-height: normal;
    --socials-subhead-font-family: "iA Writer Duospace", Helvetica;
    --socials-subhead-font-size: 60px;
    --socials-subhead-font-style: normal;
    --socials-subhead-font-weight: 400;
    --socials-subhead-letter-spacing: 0px;
    --socials-subhead-line-height: normal;
    --wordmark-font-family: "Cy", Helvetica;
    --wordmark-font-size: 96px;
    --wordmark-font-style: normal;
    --wordmark-font-weight: 400;
    --wordmark-letter-spacing: 0px;
    --wordmark-line-height: normal;
}



.submit {
    /* position: relative;
    min-height: 100vh;
    background: #faf8f6;
    overflow-x: hidden; */
    padding-bottom: 136px; /* space for footer icons */
  


    background-image: url("../components/2026img/submit_bg_grad.svg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    /* font-family: "Switzer", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;  */ 
  }
  
  /* background */
  /* .bg-group,
  .bg-gradient {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 0;
  } */

  .bg-group,
  .bg-gradient {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100vw;
    max-width: none;
  
    pointer-events: none;
    z-index: 0;
  }
  
  .bg-gradient {
    height: 350px;
    object-fit: cover;
  }
  
  /* .bg-group {
    top: 60px;
  } */

  .bg-group img,
  .bg-gradient img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* content */
  .submit .submit-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 23px;

    /* dynamic horizontal padding */
    /* padding-left: clamp(50px, 8%, 126px);
    padding-right: clamp(24px, 5%, 73px); */
    /* padding-left: clamp(20px, 4vw, 60px);
    padding-right: clamp(20px, 4vw, 60px); */

    position: relative;
    z-index: 1;    
  }

  .submit-section {
    padding-left: clamp(20px, 5vw, 96px);
    padding-right: clamp(20px, 5vw, 96px);
  }

  .section-title {
    font-family: 'iA Writer Duospace', monospace;
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    color: var(--neutralblack);

    /* dynamic left indent */
    /* margin-left: clamp(50px, 4%, 126px); */
    /* margin */

    position: relative;
    z-index: 2;
  
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    margin-left: 66px;
  }

  .awards-title {
    padding-top: 10px;
  }

  
  /* awards */
  .awards-row {
    display: flex;
    align-items: center;
    gap: 86px;
    flex-wrap: wrap; 
  }

  .awards-stack {
    display: flex;
    flex-direction: column;
    gap: 86px;
  }

  .award-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    padding: 48px 32px; 
  
    border-radius: 24px;
    background: #ffffff;
  
    height: auto;
    min-height: unset; 
  
    gap: 21px;
  }

  .award-title {
    font-family: var(--heading-font-family);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
  
    white-space: normal;
    word-break: normal;
  }


  .award-card-title {
    width: 248px;
    padding-bottom: 20px;
  }
  

  .card-row {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 67px;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    flex-wrap: wrap;   
    align-items: flex-start;
  }
  
  .card-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  /* timeline */
  .timeline-row {
    display: flex;
    gap: 67px;
    /* align-items: flex-start; */
    flex-wrap: wrap; 
    align-items: flex-start;
  }
  
  .timeline-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  /* .location {
    font-weight: bold;
    margin-bottom: 0 !important;
  } */

  /* Award styling */
   .award-subtitle,
    .award-amount {
    font-family: "Switzer", system-ui, sans-serif;
    font-weight: 300; /* light */
    margin-bottom: 0px;
   }

   .award-amount {
    margin-bottom: 6px;
   }

    /* Timeline styling */
   .timeline-location {
    font-family: "Switzer", system-ui, sans-serif;
    font-weight: 700; /* medium/bold */
    margin-bottom: 0 !important;
   }

   .timeline-description {
    font-family: "Switzer", system-ui, sans-serif;
    font-weight: 300; /* light */
   }

   .timeline-card-title {
    padding-top: 0;
    padding-bottom: 20px;
    /* letter-spacing: -0.01em; */
    width: 248px;
   }

   p.location,
   .timeline-description {
    margin-bottom: 0px;
   }

   p.location{
    font-weight: 500;
   }

  .tight-date {
    letter-spacing: -0.03em;
  }




  /* .section-title {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    margin-bottom: 32px;
    color: var(--neutralblack);
  }
  
  .card-row {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  } */
  
  .timeline-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
    width: 100%;
  }
  
  .card {
    background: white;
    border-radius: 24px;
    padding: 48px 32px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    width: 280px;
    flex-shrink: 0;
  }

  .card-gradient {
    width: 100%;
    height: 60px;
    object-fit: cover;
    display: block;
    margin-bottom: 5px;
  }
  
  /* submit button */
  .submit-button {
    appearance: none;
    -webkit-appearance: none;
  
    background-color: #ffffff;
    border: none;
    outline: none;
  
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    padding: 18px 24px;
    border-radius: 68.33px;
  
    cursor: pointer;
    white-space: nowrap;

    width: fit-content;
    flex-shrink: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }


  .submit-button .submit-text {
    white-space: nowrap;
    line-height: 30px;
    color: black;
  }
  

  /* .submit-spacing {
    margin-left: 54px;
  } */

  /* footer icons */
  .footer {
    position: absolute;
    bottom: 15px;
    left: 60px;
    display: flex;
    gap: 48px;
    z-index: 2;
  }
  
  .footer img {
    width: 32px;
    height: 32px;
  }


  /* MEDIA STYLING FOR SUBMIT */
  @media (max-width: 768px) {

    .submit {
      background-image: url("../components/2026img/submit_bg_mobile.svg");
      background-size: 100% auto;
      background-position: top center;
      background-repeat: no-repeat;
  
      padding-bottom: 0; /* remove desktop footer spacing */
    }

    .submit .submit-section {
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        gap: 0; /* we control spacing manually */
        /* padding-top: 8px; */
    }

    .awards-title {
        padding-top: 10px !important;
    }

    .submit-section-timeline {
        padding-bottom: 23px;
    }

    /* .submit-section {
        width: 1321px;
    } */


      /* 19px below NavBar */
    .section-title {
        padding-top: 0px;
        margin-left: 0;
    }

    /* 20px below Project Awards title */
    .submit-section:first-of-type .card-column {
        margin-top: 20px;
    }

    /* Award cards stacked */
    .card-column {
        gap: 24px;  /* gap between 3 award cards */
    }

    /* 64px below Faculty Favorite card */
    .submit-button {
        /* margin-top: 40px;
        margin-left: 0; */

        display: flex;
        /* margin: 40px auto 0; */
    }

    .awards-stack {
        align-items: center;   /* centers children horizontally */
        gap: 64px;
    }


    /* 64px before Timeline title */
    .submit-section:nth-of-type(2) {
        margin-top: 64px;
    }

    /* 23px below Timeline title */
    .submit-section:nth-of-type(2) .timeline-column {
        margin-top: 23px;
    }

    /* 23px gap between timeline cards */
    .timeline-column {
        gap: 23px;
    }

    .submit-spacing {
        margin-left: 0;
        margin-right: 0;
    }

    .card {
        background: white;
        border-radius: 24px;
        padding: 48px 32px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    
        width: 380px;
        flex-shrink: 0;
      }
    
    .card-gradient {
        width: 100%;
        height: 60px;
        object-fit: cover;
        display: block;
        margin-bottom: 6px;
    }

    .award-subtitle,
    .award-amount {
        font-family: "Switzer", system-ui, sans-serif;
        font-weight: 300; /* light */
        padding-top: 6px;
        margin-bottom: 0;
    }

    .award-amount {
        padding-top: 0px;
    }

    .submit-timeline-cards h3 {
        padding-top: 0;
        padding-bottom: 21px;
    }

    p.location {
        margin-bottom: 0px;
    }

    p.timeline-description {
        margin-bottom: 0px;
    }


    .submit-button {      
        padding: 18px 24px;
        border-radius: 68.33px;
     }

    .submit-button .submit-text {
        white-space: nowrap;
        line-height: 1.875;
        color: black;
    }
  
  }

